:root {
  --var-primary-Soft-blue: hsl(215, 51%, 70%);
  --var-primary-Cyan: hsl(178, 100%, 50%);
  --var-main-bg: hsl(217, 54%, 11%);
  --var-card-bg: hsl(216, 50%, 16%);
  --var-line: hsl(215, 32%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--var-main-bg);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: var(--var-primary-Soft-blue);
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 20px;
  margin-bottom: 20px;
  background-color: var(--var-card-bg);
  border-radius: 15px;
  width: 30%;
}

.hover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50;
  width: 26.5%;
  height: 53%;
  background: hsl(178, 100%, 50%, 0.5);
  opacity: 0;
  border-radius: 15px;
}

.hover-container:hover {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

#card-img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

#card-title {
  color: white;
  cursor: pointer;
}

#card-title:hover {
  transition: 0.5s;
  color: var(--var-primary-Cyan);
}

.card-info {
  display: flex;
  justify-content: space-between;
}

#card-price {
  color: var(--var-primary-Cyan);
}

.creator-info {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

.creator-info p {
  margin-top: 7px;
}

#creator-name {
  color: white;
  cursor: pointer;
}

#creator-name:hover {
  transition: 0.5s;
  color: var(--var-primary-Cyan);
}

#avatar-img {
  height: 35px;
  width: 40px;
  border: 1px solid white;
  border-radius: 20px;
}

.attribution {
  color: white;
}

@media screen and (max-width: 1024px) {
  .card-body {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .card-body {
    width: 50%;
  }
}

@media screen and (max-width: 540px) {
  .card-body {
    width: 70%;
  }
}

@media screen and (max-width: 375px) {
  .card-body {
    width: 95%;
  }
}
